/* Styles pour le formulaire */
.stratis-test-plugin-form input[type="text"],
.stratis-test-plugin-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Styles pour le message */
.stratis-test-plugin-message {
    margin-top: 10px;
}

.stratis-test-plugin-message .alert {
    padding: 10px;
    border-radius: 4px;
}

.stratis-test-plugin-message .alert-success {
    background-color: #DFF0D8;
    color: #3C763D;
}

.stratis-test-plugin-message .alert-danger {
    background-color: #F2DEDE;
    color: #A94442;
}

.required{
    color:red;
}
